main .box{
    display: flex;
    flex-wrap: wrap;

}
main .box .box-1{
    width: 30%;
    margin: 20px;
}
.imgSz{
    width: 250px;
    height: 300px;
}
main h2{
    margin-top: 100px;
    margin-left: 60px;
    font-size: 40px;
    font-family: "Segoe Print";
    color: #a4a4a4;
}
main p{
    font-size: 22px;
    font-family: "Segoe Print";
    color: #5c5c5c;
    margin-left: 40px;
    margin-bottom: 60px;
    vertical-align: top;
}
.box-2{
    width: 50%;
}