main h1{
    font-size: 40px;
    line-height: 1px;
    font-family: monospace;
    color: #4a4a4a;
    font-weight: 300;
}
main p{
    font-size: 22px;
    color: #4a4a4a;
    font-weight: 300;
    line-height: 30px;


}
main{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: 48%;
    margin-top: 40px;
    /*border: 1px solid black ;*/
}
.box img{
    width: 60%;
    float: right;
}
